@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  /*colors*/
  --color-brand-primary: #af4425;
  --color-brand-deep: #662e1c;
  --color-brand-cream: #ebdcb2;
  --color-brand-gold: #c9a66b;
  --color-brand-white: #fffaf7;

  /*breakpoints*/
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 460px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1920px;

  /*font*/
  --font-sans:
    var(--font-main), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
